:root {
    /* <========== 1 - Colors Default ==========> */
    --color-blue: #0d6efd;
    --color-indigo: #6610f2;
    --color-purple: #6f42c1;
    --color-pink: #d63384;
    --color-red: #dc3545;
    --color-orange: #fd7e14;
    --color-yellow: #ffc107;
    --color-green: #198754;
    --color-teal: #20c997;
    --color-cyan: #0dcaf0;
    --color-white: #fff;
    --color-gray: #6c757d;
    --color-gray-dark: #343a40;
    --color-primary: #0d6efd;
    --color-secondary: #6c757d;
    --color-success: #198754;
    --color-info: #0dcaf0;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #212529;
    /* <========== 1 - Colors Default ==========> */

    /* <========== 2 - Colors Nord ==========> */
    --colorPolar-Night-1: #2E3440;
    --colorPolar-Night-2: #3B4252;
    --colorPolar-Night-3: #434C5E;
    --colorPolar-Night-4: #4C566A;

    --colorSnow-Storm-1: #D8DEE9;
    --colorSnow-Storm-2: #E5E9F0;
    --colorSnow-Storm-3: #ECEFF4;

    --colorFrost-1: #8FBCBB;
    --colorFrost-2: #88C0D0;
    --colorFrost-3: #81A1C1;
    --colorFrost-4: #5E81AC;

    --colorAurora-1: #BF616A;
    --colorAurora-2: #D08770;
    --colorAurora-3: #EBCB8B;
    --colorAurora-4: #A3BE8C;
    --colorAurora-5: #B48EAD;
    /* <========== 2 - Colors Nord ==========> */

    /* <========== 3 - Colors Rede Social ==========> */
    --color-facebook: #3b5999;
    --color-twitter: #55acee;
    --color-whatsapp: #25D366;
    --color-Linkedin: #0077B5;
    --color-instagram: #e44a5f;
    --color-telegram: #0088cc;
    --color-youtube: #ff0000;
    --color-linkedIn: #00a0dc;
    --color-pinterest: #e60023;
    --color-tiktok: #000000;
    --color-skype: #00aff0;
    --color-snapchat: #fffc00;
    /* <========== 3 - Colors Rede Social ==========> */

    /* <========== 4 - Colors custom ==========> */
    --color-custom-1: #3d4152;
    /* <========== 4 - Colors custom ==========> */

    /* <========== 5 - Colors Theme Light Mode ==========> */
    --body-color: #E4E9F7;
    --sider-color: #FFF;
    --logo-color:var(--color-purple);
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
    /* <========== 5 - Colors Theme Light Mode ==========> */

    /* <========== 6 - Transition ==========> */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
    /* <========== 6 - Transition ==========> */

}